<a href="/">Voltar</a>

<h2 class="pt-3">Adicionar uma nota:</h2>

<form action="/notes" method="POST" class="mt-3">
    <div class="mb-3">
        <label for="title" class="form-label">Título:</label>
        <input type="text" placeholder="O que você pretende fazer?" class="form-control" name="title" id="title">
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Descrição:</label>
        <textarea placeholder="Descreva melhor esta nota..." name="description" id="description" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Criar nota</button>
</form>